
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu Programı</title>
    <link rel="stylesheet" href="guncel_randevu_style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>

    </style>
</head>

<body>
    

    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Güncel Randevular</h1>
            <div class="input_group">
                <input type="search" placeholder="Ara">
                <img src="search.png" alt="">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Farklı Kaydet &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="pdf.png" alt=""></label>                
                </div>
            </div>  
        </section>

       

        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> ID <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ad Soyad <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Telefon <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Konum <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Tarih <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Saat <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Konu <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ücret <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <div class="line-edits">
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
                        <input type="text" placeholder="Ad Soyad">
                    </div>
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
        
                        <input type="text" placeholder="Telefon Numarası">
                    </div>
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
        
                        <input type="text" placeholder="Konum">
                    </div>
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
        
                        <input type="text" placeholder="Tarih">
                    </div>
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
        
                        <input type="text" placeholder="Saat">
                    </div>
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
        
                        <input type="text" placeholder="Konu">
                    </div>
                    <div class="input-group show"> 
                        <img src="edit.png" alt="Edit Icon">
        
                        <input type="text" placeholder="Ücret">
                    </div>
                </div>
                <div class="button-group">
                    <button class="save-btn" id="save-button">Kaydet</button>
                    <button class="edit-btn" id="edit-button">Düzenle</button>
                    <button class="delete-btn" id="delete-button">Sil</button>
                </div>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>   
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    <tr>
                        <td> 1 </td>
                        <td>Örnek Ad Soyad</td>
                        <td>Örnek Telefon</td>
                        <td>Örnek Konum</td>
                        <td>Örnek Tarih</td>
                        <td>Örnek Saat</td>
                        <td>Örnek Konu</td>
                        <td> <strong>Ücret</strong> </td>  
                    </tr>  
                    
                </tbody>
            </table>
        </section>

    </main>
    
        


<body>
    <body>
        <nav class="sidebar">
            <div class="logo-menu">
                <h2 class="logo">Ana Menü</h2>
                <i class="bx bx-menu toggle-btn"></i>
            </div>
    
            <ui class="list">
                <li class="list-item active">
                    <a href="{% url 'guncel_randevu' %}">
                        <i class="bx bx-grid-alt"></i>
                        <span class="link-name" style="--i:1;">Güncel Randevular</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="{% url 'tamamlanan_randevu' %}">
                        <i class='bx bx-check'></i>
                        <span class="link-name" style="--i:2;">Tamamlanan </span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="{% url 'teslim_edilen_randevu' %}">
                        <i class='bx bx-package'></i>
                        <span class="link-name" style="--i:3;">Teslim Edilen</span>
                    </a>
                </li>
    
                <li class="list-item">
                    <a href="#">
                        <i class='bx bx-search'></i>
                        <span class="link-name" style="--i:4;">Sorgular</span>
                    </a>
                </li>
          
                <li class="list-item">
                    <a href="#">
                        <i class='bx bx-plus' ></i>
                        <span class="link-name" style="--i:5;">Ekstralar</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="{% url 'cop_kutusu' %}">
                        <i class='bx bx-trash' ></i>
                        <span class="link-name" style="--i:6;">Çöp Kutusu</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <i class='bx bx-lock-alt'></i>
                        <span class="link-name" style="--i:7;">Çıkış Yap</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <i class='bx bx-cog' ></i>
                        <span class="link-name" style="--i:8;">Ayarlar</span>
                    </a>
                </li>
                    
                
            </ui>
        </nav>
    </body>
    
    </html> 

    <script src="guncel_randevu.js"></script>



    <script>

    </script>

</body>

</html>